<%- include('partials/header.ejs') %>

<iframe class="w-100" src="https://www.youtube.com/embed/NjwUHXoi8lM?autoplay=1" alt="Video" style="height: 500px;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1 class="typewriter">
    <span id="typed-text"></span>
    <span class="cursor">|</span>
</h1>

<h1 class="text-center">My Posts</h1>
<div class="container d-flex justify-content-center w-100 flex-wrap">


    <% if(typeof posts !== "undefined" && posts.length > 0) { %>
        <% posts.forEach((post) => { %>
            <div class="card m-5">
                <div class="card-body">
                    <p class="updated-time">Updated at:  <%= post.time %></p>
                    <h5 class="card-title"><%= post.title %></h5>
                    <p class="card-text"><%= post.message %></p>
            
                    <a href="/edit/<%= post.id %>" class="edit btn btn-success">Edit</a>
                    
                    <form action="/delete/<%= post.id %>?_method=DELETE" method="POST">
                        <button class="delete btn btn-danger m-1">Delete</button>
                    </form>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <p class="text-center ">No posts yet. Create one!</p>
    <% } %>
</div>

<script src="/js/typing.js"></script>


<%- include('partials/footer.ejs') %>